{% extends 'base.html' %}
{% block title %}
	Groots' Coronavirus Dashboard
{% endblock title %}

{% block style %}
@media screen and (min-width: 400px) {
	.tableu {
		border: 1px solid #343a40;
		box-shadow: 0px 0px 10px 2px grey;
		display: inline-block;
	}
}
@media screen and (min-width: 800px) {
	.tableu {
		border: 1px solid #343a40;
		box-shadow: 0 0 10px 2px grey;
		width: 41%;
		display: inline-block;
	}
}
.tableu-head {
	background-color: #343a40;
	color: #ffffff;
	height: 11px;
}
.tableu-head th {
	padding-left: 13px;
	padding-right: 10px;
}
.tableu .states { text-align: left; padding-left: 20px; }
.tableu .nums { text-align: center; }
.plot-md {
	position: relative;
	display: block;
	width: 500px;
	height: 200px;
}
.lmar-4 {
	margin-left: 45px;
}
.lmar-7 {
	margin-left: 75px;
}
.chart-container {
	display: inline-block;
	position: absolute;
	height: auto;
}
#national-data {
	display: block;
	width: 100%;
}
{% endblock style %}

{% block tab_home_label %}Informatics{% endblock tab_home_label %}
{% block tab_home %}
<center>
	<h1>INFORMATICS</h1>
</center>
<br><br>
<div id="national-data">
</div>
{% autoescape off %}
{{ data_table }}
{% endautoescape %}
<div class="chart-container mx-5">
<div class="plot-md my-5">
	<canvas id="plot-daily-cnf"></canvas>
</div>
<div class="plot-md my-5">
	<canvas id="plot-daily-dth"></canvas>
</div>
<div class="plot-md my-5">
        <canvas id="plot-daily-rcv"></canvas>
</div>
</div>
{% endblock tab_home %}

{% block tab_about_label %}About Initiative{% endblock tab_about_label %}
{% block tab_about %}
<center>
	<h1>ABOUT INITIATIVE</h1>
</center>
{% endblock tab_about %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
// ChartJS Space
{% autoescape off %}
var states = {{ states }};
var active = {{ active }};
var confirmed = {{ confirmed }};
var deaths = {{ deaths }};
var recovered = {{ recovered }};
var date = {{ date }};
var ddc = {{ ddc }};
var ddd = {{ ddd }};
var ddr = {{ ddr }};
var dtc = {{ dtc }};
var dtd = {{ dtd }};
var dtr = {{ dtr }};
{% endautoescape %}
var dat = new Date()

var config_dtc = {
	type:'line',
	data:{labels:date,datasets:[{label:'Confirmed Cases',backgroundColor: 'red',borderColor: 'red',data: dtc,fill: false,}]},
	options:{responsive: true,title:{display: true,text:'Confirmed Cases',},scales:{xAxes:[{ticks:{fontSize:8}}]},elements:{point:{radius:0}}}
}
var config_dtd = {
	type:'line',
	data:{labels:date,datasets:[{label:'Deceased Cases',backgroundColor:'grey',borderColor:'grey',data:dtd,fill:false,}]},
	options:{responsive: true,title:{display: true,text:'Deceased Cases',},scales:{xAxes:[{ticks:{fontSize:8}}]},elements:{point:{radius:0}}}
}
var config_dtr = {
	type:'line',
	data:{labels:date,datasets:[{label:'Recovered Cases',backgroundColor: 'green',borderColor: 'green',data:dtr,fill: false,}]},
	options:{responsive: true,title:{display: true,text:'Recovered Cases',},scales:{xAxes:[{ticks:{fontSize:8}}]},elements:{point:{radius:0}}}
}

window.onload = function() {
	var chart_dtc = document.getElementById('plot-daily-cnf').getContext('2d');
	var chart_dtd = document.getElementById('plot-daily-dth').getContext('2d');
	var chart_dtr = document.getElementById('plot-daily-rcv').getContext('2d');
	window.daily_cnf = new Chart(chart_dtc, config_dtc);
	window.daily_dth = new Chart(chart_dtd, config_dtd);
	window.daily_rcv = new Chart(chart_dtr, config_dtr);
}
</script>
<script>
	$('.tableu').addClass('table-responsive');
	$('.tableu').addClass('mx-4');
</script>
{% endblock script %}
