{% extends 'base.html' %} {% block title %}
	Groots' Coronavirus Dashboard
{% endblock title %}

{% block style %}
@media screen and (min-width: 400px) {
	.tableu {
		border: 1px solid #343a40;
		box-shadow: 0px 0px 10px 2px grey;
	}
}
@media screen and (min-width: 800px) {
	.tableu {
		border: 1px solid #343a40;
		box-shadow: 0 0 10px 2px grey;
		width: 41%;
	}
}
.tableu-head {
	background-color: #343a40;
	color: #ffffff;
	height: 11px;
}
.tableu-head th {
	padding-left: 13px;
	padding-right: 10px;
}
.tableu .states { text-align: left; padding-left: 20px; }
.tableu .nums { text-align: center; }
{% endblock style %}

{% block tab_home_label %}Informatics{% endblock tab_home_label %}
{% block tab_home %}
<center>
	<h1>INFORMATICS</h1>
</center>
<br><br>
{% autoescape off %}
{{ data_table }}
{% endautoescape %}
{% endblock tab_home %}

{% block tab_about_label %}About Initiative{% endblock tab_about_label %}
{% block tab_about %}
<center>
	<h1>ABOUT INITIATIVE</h1>
	<div id="chart-container" style="width: 600px; height: 500px;">
		<canvas id="sample"></canvas>
	</div>
</center>
{% endblock tab_about %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
// ChartJS Space
{% autoescape off %}
var states = {{ states }};
var active = {{ active }};
{% endautoescape %}
var date = new Date()
var config = {
	type: 'bar',
	data: {
		labels: states,
		datasets: [{
			label: 'Active cases',
			backgroundColor: 'red',
			data: active,
			fill: false,
		}]
	},
	options: {
		responsive: true,
		title: {
			display: true,
			text: 'Statewise Active Cases on ' + date.getDate() + "-" + date.getMonth() + "-" + date.getFullYear()
		},
		scales: {
			yAxes: [{
				ticks: {
					fontSize: 16
				}
			}]
		}
	}
};

window.onload = function() {
	var ctx = document.getElementById('sample').getContext('2d');
	window.myLine = new Chart(ctx, config);
}
</script>
<script>
	$('.tableu').addClass('table-responsive');
</script>
{% endblock script %}
